<html>
<head>
    <title>Duckula | Iris</title>
</head>
<body>
    <h3>{{.message}}</h3>
    <div>
      <a href="/ping">/ping</a><br>
      <a href="/about">/about</a><br>
      <a href="/user/9527">/user/9527</a><br>
      <a href="/api/any">/api/any</a><br>
      <a href="/api/any/duckula?id=123&datetime=2019-12-31">/api/any/duckula?id=123&datetime=2019-12-31</a><br>
      <form action="/api/any" method="post">
        <input type="text" name="username" value="Tiger" />
        <button type="submit">OK</button>
      </form>
    </div>
</body>
</html>